---
interface Props {
	title: string
	description: string
	icon: string
	date: string
	location: string
}

const { title, description, icon, date, location } = Astro.props as Props
---

<article class="flex flex-row gap-6 items-start cursor-default w-[340px] md:w-[480px] lg:w-auto   ">
	<picture class="w-16 h-16 bg-[#e8edf2a0] hidden  relative rounded-xl lg:flex items-center justify-center shadow-md p-1">
		<img src={icon} alt={title}  />
	</picture>
	<div class="flex flex-col gap-1 text-[#4F7396] text-wrap w-[880px]">
		<h2 class="font-semibold text-lg  text-[#0D141C]  ">{title}</h2>
		<p class="font-normal text-wrap ">{description}</p>
		<div class="flex flex-row gap-4">
			<time>{date}</time>
			<span>{location}</span>
		</div>
	</div>
</article>
